# MongoDB Atlas Configuration
MONGODB_URI="mongodb+srv://<username>:<password>@cluster.mongodb.net/workforce?retryWrites=true&w=majority"
MONGODB_DB_NAME="workforce"
MONGODB_USERNAME=""
MONGODB_PASSWORD=""

# ImageKit Configuration (Uploads & Media Delivery)
IMAGEKIT_ID="avdarinn"
NEXT_PUBLIC_IMAGEKIT_URL_ENDPOINT="https://ik.imagekit.io/avdarinn"
NEXT_PUBLIC_IMAGEKIT_PUBLIC_KEY="public_uzSklsoDFlGNoIPGFtTdcYJU32Y="
IMAGEKIT_PRIVATE_KEY="private_Zgjm0jSmxe2S76y3kkULZ5nzEvo="
IMAGEKIT_DEFAULT_FOLDER="workforce"

# Admin Authentication
ADMIN_SESSION_SECRET="your-secure-secret"
